<a-dialog [title]="title">

    <form dialog-content [formGroup]="taskForm" *ngIf="taskForm">

        <div class="body">
                <mat-label>Usuário: {{task.name}}</mat-label>
                
                <mat-label>Data: {{task.date | date: 'dd MMM y' : 'pt-BR'}}</mat-label>
                
                <mat-label>Valor: {{task.value | currency: "BRL"}}</mat-label>
        </div>
        <div class="header">
            <a-button (click)="cancel()" [block]="true" title="Cancelar"></a-button>
            <a-button (click)="confirm()" [block]="true" color="error" title="Excluir"></a-button>
        </div>
    </form>


</a-dialog>