.header {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 256px 256px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 20px 10px;
    padding: 0 10px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 5px;
}