.width-delete {
    width: 405px;
}

.width-button {
    width: 45%;
}

@media (max-width: 1000px) {
    .width-delete {
        width: 100% !important;
    }

    .width-button {
        width: 100%;
    }

    .ms-3 {
        margin-left: 0px !important;
    }

    .me-3 {
        margin-right: 0px !important;
    }

    .m-2 {
        margin: 0px !important;
    }
}