<div fxLayout="row" fxFill>
  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="center center" fxFlex="0 1 540px" class="login-tab" (submit)="login()">
    <div class="login-form" fxLayout="column" fxLayoutGap="16px">
      <app-logo color="colored"></app-logo>
      <h1>Bem vindo de volta</h1>
      <div class="login-error" *ngIf="!!loginError" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>error</mat-icon>
          <span id="login-error">{{loginError}}</span>
        </div>
        <mat-icon class="cursor-pointer" id="login-error-close" (click)="loginError = null">close</mat-icon>
      </div>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input id="login-email-input" type="email" matInput formControlName="email" placeholder="Ex: teste@gmail.com" />
        <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
          Insira um email válido
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input id="login-password-input" [type]="!!passwordShow ? 'text': 'password'" matInput formControlName="password" />
        <mat-error *ngIf="form.controls.password.hasError('required')">
          Campo obrigatório
        </mat-error>
        <span matSuffix class="cursor-pointer" (click)="passwordShow = !passwordShow">
          <mat-icon>{{!!passwordShow ? 'visibility_off' :'visibility'}}</mat-icon>
        </span>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="login()" id="login-button-enter">ENTRAR</button>
    </div>
  </form>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex class="login-image">
    <img src="/assets/images/login-image.png" />
  </div>
</div>
