<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800");
=======
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600,700,800");
>>>>>>> be5a8eadca8bd35f557dc345274781a172642520

// font-family
.font-montserrat {
    font-family: 'Montserrat';
    font-weight: 500;
}

.font-lato {
    font-family: 'Lato';
    font-weight: 500;
}

// font-weight
.font-bold-800 {
    font-weight: 800;
}

.font-bold-700 {
    font-weight: 700;
}

.font-bold-600 {
    font-weight: 600;
}
  
.font-bold-400 {
    font-weight: 400;
}

.font-bold-300 {
    font-weight: 300;
}

// font-size
.font-size-30 {
    font-size: 30px;
}

.font-size-36 {
    font-size: 36px;
<<<<<<< HEAD
}

.font-size-16 {
    font-size: 16px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-14 {
    font-size: 14px;
=======
>>>>>>> be5a8eadca8bd35f557dc345274781a172642520
}