@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600,800");

.font-montserrat {
    font-family: 'Montserrat';
    font-weight: 500;
}

.font-bold-800 {
    font-weight: 800;
}

.font-bold-600 {
    font-weight: 600;
}
  
.font-bold-300 {
    font-weight: 300;
}

.font-size-30 {
    font-size: 30px;
}