.text-vetical-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.width-form {
    width: 326px !important;
}

.width-button {
    width: 45%;
}

@media (max-width: 1000px) {
    .width-form {
        width: 100% !important;
    }

    .width-button {
        width: 100%;
    }
}

// snackbar
.snackbar-success {
    background-color: var(--green) !important;
    color: white !important;
    text-align: center !important;
}
  
.snackbar-error {
    background-color: var(--red) !important;
    color: white !important;
    text-align: center !important;
}
  
.mat-snack-bar-container {
    text-align: center;
}
  
.mat-simple-snackbar {
    display: inline-block !important;
}
  