@import '../../../assets/styles/colors';
@import '../../../assets/styles/forms';

.add-payment{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 32px 0 16px;
    > p{
        margin: 0;
    }
    button{
        max-width: 230px;
    }
}
.table__header{
    background-color: $default-white;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    .table__search-data,
    .table__ordering,
    .order__pagination,
    .pagination__page-number{
        display: flex;
        align-items: center;
    }
    .table__search-data{
        .table__ipt-search{
            input{
                border: 1px solid $quartenary-gray;
                border-radius: 6px;
                box-sizing: border-box;
                width: 215px;
                height: 32px;
                padding: 8px;
                padding-right: 30px;
                background: url('../../../assets/images/icons/search.svg') no-repeat 95% center;
                color: $primary-gray;
            }
        }
        .table__button-filter{
            button{
                background: $secondary-gray;
                border-radius: 6px;
                border: none;
                width: 70px;
                height: 28px;
                font-size: 12px;
                line-height: 14px;
                color: $primary-gray;
                margin-left: 16px;
                cursor: pointer;
                transition: all 0.25s ease-in-out;
                &:hover{
                    background-color: $primary-blue;
                }
                img{
                    margin-right: 5px;
                }
            }
        }
    }
    .table__ordering{
        .order__by-count{
            margin: 0 16px;
            >span{
                font-size: 12px;
                display: inline-block;
                margin-right: 5px;
            }
            select{
                padding: 2px;
                border: 1px solid $quartenary-gray;
                border-radius: 6px;
                width: 77px;
                height: 32px;
                font-size: 14px;
            }
        }
    }
    .order__pagination{
        margin: 0 16px;
        .pagination__page-number{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
            }
        }
    }
}
.table__content{
    table{
        width: 100%;
        border: none;
        border-collapse: inherit;
        border-spacing: 0;
        border-color: inherit;
        vertical-align: inherit;
        text-align: left;
        font-weight: inherit;
        -webkit-border-horizontal-spacing: 0;
        -webkit-border-vertical-spacing: 0;
        th{
            text-align: left;
            border-bottom: 2px solid $quartenary-gray;
            color: $primary-gray;
        }
        td,th{
            padding: 16px;
            font-size: 14px;
        }
        tr{
            &:nth-child(even) {
                background-color: $tertiary-gray;
            }
            td{
                .pay__info{
                    display: flex;
                    .avatar{
                        margin-right: 16px;
                        figure{
                            margin: 0;
                            width: 40px;
                            height: 40px;
                            overflow: hidden;
                            border-radius: 100%;
                            padding: 0;
                            border: 1px solid $quartenary-gray;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
                span{
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 2px;
                    &.sub{
                        color: $quinary-gray;
                    }
                }
                .actions{
                    display: none;
                    span{
                        width: auto;
                        display: inline-block;
                        cursor: pointer;
                        margin: 0 8px;
                        transition: all 0.25s ease-in-out;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
            td:last-child{
                width: 30%;
                text-align: right;
            }
            &:hover{
                td{
                    .actions{
                        display: block;
                    }
                }
            }
        }
    }
}
.form-sweet{
    background-color: yellow;
}

@media (max-width: 768px) {
    .table__header {
        .table__search-data {
            .table__ipt-search {
                input{
                    width: 145px;
                }
            }
        }
    }
    .table__content{
        overflow-x: auto;
        table{
            tr{
                td{
                    &:last-child{
                        width: auto;
                    }
                    .actions{
                        display: flex;
                    }
                } 
            } 
        } 
    }     
}
@media (max-width: 767px) {
    .table__header{
        flex-direction: column;
        align-items: flex-start;
        .table__search-data {
            .table__ipt-search {
                input{
                    width: 100%;
                }
            }
        }
        .table__ordering{
            flex-direction: column;
            align-items: flex-start;
            .order__by-count{
                margin: 16px 0;
            }
        }
    }
    .table__content{
        overflow-x: auto;
    } 
}