<h2>Meus pagamentos</h2>

<div class="add-payment">
    <p>Total de pagamentos: <strong>{{totalItems}}</strong></p>
    <button class="button__default" (click)="setPayment()">ADiCIONAR PAGAMENTO</button>
</div>
<section class="main">
    <div class="table__area">
        <div class="table__header">
            <div class="table__search-data">
                <div class="table__ipt-search">
                    <input type="search" [(ngModel)]="searchText" placeholder="Pesquisar por usuario">
                </div>
                <div class="table__button-filter">
                    <button (click)="openModalFilter()">
                        <img src="../../../assets/images/icons/filter.svg" alt=""> Filtrar
                    </button>
                </div>
            </div>
            <div class="table__ordering">
                <div class="order__by-count">
                    <span>Exibir</span>
                    <select name="" id="" (change)="showByQuantity($event.target.value)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">15</option>
                    </select>
                </div>
                <div class="order__pagination">
                    <pagination-controls class="pagination" (pageChange)="getPaymentsList($event, querye)" autoHide="true"
                        previousLabel="" nextLabel="" maxSize="5"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="table__content">
            <table>
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Pago</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="payments?.length == 0">
                        <td colspan="6" [ngStyle]="{'text-align': 'center'}">
                            Nenhum pagamento encontrado
                        </td>
                    </tr>
                    <tr *ngFor="let payment of payments | grdFilter: { name: searchText } | paginate: {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalItems }">
                        <td>
                            <div class="pay__info">
                                <div class="avatar">
                                    <figure>
                                        <img [src]="payment.image" [alt]="payment.name">
                                    </figure>
                                </div>
                                <div class="name">
                                    <span class="text">{{payment.name | firstName}}</span>
                                    <span class="sub">@{{payment.username}}</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="text">{{payment.title}}</span>
                        </td>
                        <td>
                            <span class="text">{{payment.date | date:'d MMM YYYY'}}</span>
                            <span class="sub">{{payment.date | date:'h:mm a' : '+00:00'}}</span>
                        </td>
                        <td>
                            <span class="text">{{payment.value | currency}}</span>
                        </td>
                        <td>
                            <span class="check">
                                <input type="checkbox" [checked]="payment.isPayed" (change)="setIsPayed($event, payment)">
                            </span>
                        </td>
                        <td>
                            <div class="actions">
                                <span title="Editar pagamento" (click)="setPayment(payment)">
                                    <img src="../../../assets/images/icons/pencil.svg" alt="Editar pagamento">
                                </span>
                                <span title="Excluir pagamento" (click)="opeModaRemovePayment(payment)">
                                    <img src="../../../assets/images/icons/close.svg" alt="Excluir pagamento">
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<app-modal id="modal-add-payment">
    <div class="form-modal">
        <div class="modal__header">
            <h4>Adicionar pagamento</h4>
        </div>
        <form [formGroup]="paymentForm" novalidate>
            <div class="modal__content">
                <div class="item-row grid-12">
                    <div class="item-col span-6">
                        <input type="text" formControlName="name" placeholder="Usuário">
                    </div>
                    <div class="item-col span-6">
                        <input type="text" formControlName="value" placeholder="Valor" currencyMask [options]="{ 
                                prefix: 'R$ ', 
                                thousands: '.', 
                                decimal: ',',
                                align: 'left' 
                            }">
                    </div>
                </div>
                <div class="item-row grid-12">
                    <div class="item-col span-6">
                        <input type="date" formControlName="date" placeholder="Data">
                    </div>
                    <div class="item-col span-6">
                        <input type="text" formControlName="title" placeholder="Título">
                    </div>
                </div>
            </div>
        </form>
        <div class="modal__footer">
            <button class="button__default button__default--cancel" (click)="closeModal('modal-add-payment')">CANCELAR</button>
            <button class="button__default" [disabled]="!paymentForm.valid" (click)="handlePayment()">SALVAR</button>
        </div>
    </div>
</app-modal>

<app-modal id="modal-remove-payment">
    <div class="form-modal">
        <div class="modal__header">
            <h4>Excluir pagamento</h4>
        </div>
        <div class="modal__content">
            <p>
                Usuário: {{currPayment?.name}}
            </p>
            <p>
                Data: {{currPayment?.date | date: 'dd/MM/YYYY'}}
            </p>
            <p>
                Valor: {{currPayment?.value | currency}}
            </p><br>
        </div>
        <div class="modal__footer">
            <button class="button__default button__default--cancel" (click)="closeModal('modal-remove-payment')">CANCELAR</button>
            <button class="button__default" (click)="removePayment()">SALVAR</button>
        </div>
    </div>
</app-modal>

<app-modal id="modal-filter">
    <div class="form-modal">
        <div class="modal__header">
            <h4>Filtrar por:</h4>
        </div>
        <form  [formGroup]="filterForm" novalidate>
            <div class="modal__content">
                <div class="item-row grid-12">
                    <div class="item-col span-6">
                        <label for="">Título</label>
                        <select name="" id="" formControlName="title">
                            <option value=""></option>
                            <option [value]="item.title" *ngFor="let item of this.titleList">{{item.title}}</option>
                        </select>
                    </div>
                    <div class="item-col span-6">
                        <label for="">Pagos</label>
                        <select name="" id="" formControlName="payed">
                            <option value=""></option>
                            <option value="true" selected>Sim</option>
                            <option value="false">Não</option>
                        </select>
                    </div>
                </div>
                <div class="item-row grid-12">
                    <div class="item-col span-6">
                        <label for="">Data</label>
                        <select name="" id="" formControlName="date">
                            <option value="desc" selected>Mais recentes</option>
                            <option value="asc">Mais antigos</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal__footer">
            <button class="button__default button__default--cancel" (click)="clearFilter()">LIMPAR</button>
            <button class="button__default" (click)="applyFilter()">FILTRAR</button>
        </div>
    </div>
</app-modal>