<form [formGroup]="passwordsForm" (ngSubmit)="return()" autocomplete="off" class="text-center">
  
    <div formGroupName="passwords">
        <div class="mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Senha*</mat-label>
                <input [type]="visible? 'text' : 'password'" matInput formControlName="password">
                <mat-icon class="material-icons-outlined cursor-pointer" matSuffix (click)="visible = !visible">
                    {{visible? 'visibility_off' : 'visibility'}}
                </mat-icon>
            <mat-error *ngIf="passwordsForm.get('passwords.password')?.errors?.required">Senha é obrigatória</mat-error>
            </mat-form-field>
        </div>
  
        <div class="mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Confirmar senha*</mat-label>
                <input [type]="visibleConfirmed? 'text' : 'password'" type="password" matInput formControlName="confirmedPassword">
                <mat-icon class="material-icons-outlined cursor-pointer" matSuffix (click)="visibleConfirmed = !visibleConfirmed">
                    {{visibleConfirmed? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.required">Confirmar senha é obrigatório</mat-error>
                <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.mismatch"> Senhas não conferem </mat-error>
            </mat-form-field>
        </div>
    </div>

    <button
        mat-flat-button
        class="w-50 mt-3 mb-3 text-center"
        [disabled]="disableBtn"
        color="accent">
        {{txtBtn}}
    </button>
  </form>
  