@use '~@angular/material' as mat;

.a-button-component-custom-shadow {
  @include mat.elevation(2, #f7eff2, 0.8);
}

button {
  width: 100%;
  font-family: Roboto;
  font-size: 14px;
  background-color: #007DFE;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}
