@use '~@angular/material' as mat;

button {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-radius: 4px;
}

button.block {
  width: 100%;
}

button.confirm {
  background-color: #007DFE;
  color: #FFFFFF;
}

button.edit {
  background-color: #fecb00cb;
  color: #FFFFFF;
}

button.dismiss {
  background-color: #F5F5F5;
  color: #333333;
}