<div class="text-vetical-center">
    <div class="container margin-left margin-right">

        <h2 class="float-left">
            <span class="color-dark-blue font-bold-800 font-montserrat">Pay</span>
            <span class="color-light-blue font-bold-300 font-montserrat">Friends</span>
        </h2>
        <h1 class="float-left font-montserrat">
            <span class="font-montserrat font-bold-600 font-size-30">
                Bem vindo de volta        
            </span>
        </h1>

        <form [formGroup]="loginForm"(ngSubmit)="login()" autocomplete="off">
            <div class="mt-2">
                <mat-form-field appearance="outline" class="w-100">
                <mat-label> E-mail </mat-label>
                <input matInput formControlName="email">
                <mat-icon class="material-icons-outlined" matSuffix >mail_outline</mat-icon>
                <mat-error *ngIf="loginForm.get('email')?.errors?.required">E-mail é obrigatório</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.errors?.email">Insira um e-mail válido </mat-error>
                </mat-form-field>
            </div>
    
            <div class="mt-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label> Senha </mat-label>
                    <input [type]="visible? 'text' : 'password'" matInput formControlName="password">
                    <mat-icon class="material-icons-outlined cursor-pointer" matSuffix (click)="visible = !visible">
                        {{visible? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error *ngIf="loginForm.get('password')?.errors?.required">Senha é obrigatória</mat-error>
                </mat-form-field>
            </div>

            <button
                mat-flat-button
                class="w-100 mt-3"
                [disabled]="disableBtn"
                color="primary">
            {{txtBtn}}
            </button>
        </form>
        
    </div>
</div>

