.login-component {
    display: flex;

    .login-section {
        display: flex;
        background-color: #F2F2F2;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        padding: 8%;
        letter-spacing: 5px;
    }

    .image-section {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
