<div class="add-modal">
    <div class="add-modal__title">
        <p>{{'payments.add' | translate}}</p>
    </div>

    <div class="add-modal__grid">
        <div class="add-modal__grid--user">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuário*</mat-label>
                <input matInput (ngModelChange)="verifyField()" [(ngModel)]="user">
            </mat-form-field>
        </div>

        <div class="add-modal__grid--value">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Valor*</mat-label>
                <input matInput type="number" (ngModelChange)="verifyField()" [(ngModel)]="value">
            </mat-form-field>
        </div>

        <div class="add-modal__grid--date">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Data*</mat-label>
                <input matInput (ngModelChange)="verifyField()" [(ngModel)]="date">
            </mat-form-field>
        </div>

        <div class="add-modal__grid--title">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput [(ngModel)]="title">
            </mat-form-field>
        </div>
    </div>

    <div class="add-modal__buttons">
        <div class="add-modal__buttons--msg">
            <p>{{msg_error}}</p>
        </div>
        <div class="btns">
            <button class="add-modal__buttons--cancel" (click)="close()">Cancelar</button>
            <button class="add-modal__buttons--save" (click)="save()">Salvar</button>
        </div>
    </div>
</div>