.add-modal {
    &__title {
        > p {
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 10px;
        ::ng-deep .mat-form-field-flex {
            background-color: transparent !important;
        }

        
        &--user {
            ::ng-deep .mat-form-field {
                width: 100% !important;
            } 
        }

        &--value {
            ::ng-deep .mat-form-field {
                width: 95% !important;
            }

            input[type=number]::-webkit-inner-spin-button { 
                -webkit-appearance: none;
                display: none;
            }
        }

        &--date {
            ::ng-deep .mat-form-field {
                width: 100% !important;
            } 
        }

        &--title {
            ::ng-deep .mat-form-field {
                width: 95% !important;
            }
        }
    }

    &__buttons {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        grid-template-columns: 60% 40%;
        > .btns {
            display: grid;
            grid-auto-flow: column;
            gap: 6px;
        }

        &--cancel {
            background-color: #F5F5F5;
            border: 1px solid #F5F5F5;
            padding: 5px 10px;
            border-radius: 4px;
            cursor: pointer;
        }

        &--save {
            background-color: #007DFE;
            border: 1px solid #007DFE;
            padding: 5px 10px;
            color: #fff;
            font-weight: 600;
            border-radius: 4px;
            cursor: pointer;
        }

        &--msg {
            display: flex;
            align-items: center;
            > p {
                color: red;
                margin: 0;
            }
        }
    }
}