<div class="m-5">
    <h1 class="float-left font-montserrat mb-2">
        <span class="font-montserrat font-bold-600 font-size-36">
            Meus pagamentos      
        </span>
    </h1>

    <div class="w-100">
        <app-add-payment (action)="changePage($event)"></app-add-payment>
    </div>

    <app-table-payments [payments]="payments" (action)="changePage($event)">
        <div class="mt-3 float-start">
            <app-search-user (OnTyping)="receiveSearch($event)" [value]="search"></app-search-user>
        </div>
        <div class="mt-3 float-start">
            <app-btn-filter (returnFilter)="receiveFilters($event)" [filters]="filters"></app-btn-filter>
        </div>
        <div class="mt-3 float-end row" filter>
            <div class="col-sm">
                <app-select-limit (limitEmit)="receiveLimit($event)" [limitSelect]="limitSelect"></app-select-limit>
            </div>
            <div class="col-sm">
                <app-pagination-payment 
                    (pageEmit)="receivePage($event)" 
                    [limit]="limitSelect" 
                    [totalPayments]="totalPayments"
                    [currentPage]="currentPage">
                </app-pagination-payment>
            </div>
        </div>
    </app-table-payments>
</div>
