<div class="m-5">
    <ng-container *ngIf="user$ | async as user">
        <div class="text-center">
            <img src="./assets/images/avatar.svg"  class="img-avatar-135 cursor-pointer m-2" >
            <h3 class="mt-1">
                <span class="font-montserrat font-bold-700">
                    {{user.name | titlecase}}
                </span>
            </h3>
            <p class="font-size-12 signed">Conectado com</p>
            <div class="div-wrapper">
                <mat-chip-list aria-orientation="vertical">
                    <mat-chip >{{user.email}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <br>
        <h3 class="float-left font-montserrat mb-2">
            <span class="font-montserrat font-bold-600 font-size-36">
                Configurações      
            </span>
        </h3>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="float-left font-montserrat font-bold-600 mt-2">Editar sua identificação</h3>
                <app-form-profile-identification 
                    [user]="user" 
                    [disableBtn]="disableBtn"
                    (form)="receiveFormIdentification($event, user)">
                </app-form-profile-identification>
            </div>
            <div class="col-sm-6">
                <h3 class="float-left font-montserrat font-bold-600 mt-2">Redefinir senha</h3>
                <app-form-profile-password
                    [disableBtn]="disableBtn"
                    (returnPassword)="receiveFormPassword($event, user)">
                </app-form-profile-password>
            </div>
        </div>
    </ng-container>
</div>