<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>{{label | translate}}</mat-label>
    <mat-date-range-input
      [formGroup]="range"
      [rangePicker]="campaignOnePicker">
      <input (dateInput)="startDate($event)" matStartDate placeholder="Start date" formControlName="start">
      <input (dateInput)="endDate($event)" matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field>
  