<mat-toolbar class="header mat-elevation-z3" fxLayoutAlign="space-between center">
  <img width="100" src="assets/img/logo-light.svg" alt="Logo image" />
  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
    <div class="profile-container" fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
      <div
        class="user-data-container"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxHide
        fxShow.gt-xs
      >
        <span class="user-name" data-test="user-name">{{ user.name }}</span>
        <span class="user-profile" fxFlexAlign="end">Admin</span>
      </div>
      <div class="profile-image">
        <img src="assets/img/user.png" alt="User photo" data-test="profile-image" />
      </div>
    </div>
    <mat-icon class="pointer" matTooltip="sair" (click)="logout()">logout</mat-icon>
  </div>
</mat-toolbar>
