<mat-form-field class="full-width password" appearance="fill">
    <mat-label>{{'input.pwd' | translate}}</mat-label>
    <input  [formControl]="pwdFormControl" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="pwdFormControl.hasError('required')">
        {{'input.pwd-is' | translate}} <strong>{{'common.required' | translate}}</strong>
      </mat-error>
  </mat-form-field>