.full-width {
    width: 100%;
    min-width: 150px;
  }

  .password {

    ::ng-deep .mat-form-field-flex {
        background-color: transparent !important;
      }

      ::ng-deep .mat-form-field-suffix {
        > button {
          border: none !important;
        }
      }

      
  }