.pic-nav {
    background-color: #002D69 !important;
    height: 90px;
}

a {
    text-decoration: none;
}
.pic-logo {
    position: absolute;
    width: 137px;
    height: 29px;
    left: 30px;
    top: 31px;
}
.pic-log-txt1, .pic-log-txt2 {
    color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}
.pic-log-txt1{
    font-weight: 900;
}
.pic-log-txt2 {
    font-weight: 100; 
}