@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('~/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('~/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('~/assets/fonts/Montserrat-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('~/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 900;
}
