@import '~@angular/material/theming';

$app-font-family: 'Montserrat', Roboto, 'Helvetica Neue', sans-serif;

$custom-typography: mat.define-typography-config(
  $font-family: $app-font-family
);

@include mat.core($custom-typography);

$primary-pallet: (
  50: #e0efff,
  100: #b3d8ff,
  200: #80beff,
  300: #4da4fe,
  400: #2691fe,
  500: #007dfe,
  600: #0075fe,
  700: #006afe,
  800: #0060fe,
  900: #004dfd,
  A100: #ffffff,
  A200: #f1f4ff,
  A400: #becdff,
  A700: #a4baff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$accent-pallet: (
  50: #e0e6ed,
  100: #b3c0d2,
  200: #8096b4,
  300: #4d6c96,
  400: #264d80,
  500: #002d69,
  600: #002861,
  700: #002256,
  800: #001c4c,
  900: #00113b,
  A100: #7188ff,
  A200: #3e5dff,
  A400: #0b33ff,
  A700: #0027f1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$primary: mat.define-palette($primary-pallet);
$accent: mat.define-palette($accent-pallet);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    )
  )
);

$foreground: (
  base: #333333,
  divider: rgba(51, 51, 51, 0.12),
  dividers: rgba(51, 51, 51, 0.12),
  disabled: rgba(51, 51, 51, 0.38),
  disabled-button: rgba(51, 51, 51, 0.38),
  disabled-text: rgba(51, 51, 51, 0.38),
  hint-text: rgba(51, 51, 51, 0.38),
  secondary-text: rgba(51, 51, 51, 0.54),
  icon: rgba(51, 51, 51, 0.54),
  icons: rgba(51, 51, 51, 0.54),
  text: rgba(51, 51, 51, 0.87)
);

$color-theme: map-get($theme, color);
$color-theme: map-merge(
  $color-theme,
  (
    foreground: $foreground
  )
);

$theme: map-merge(
  $theme,
  (
    color: $color-theme
  )
);

@include mat.all-component-themes($theme);
