@import 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $text;
}

body {
  margin: 0;
}

mat-form-field {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

// MatFormField custom class
.mat-form-field-no-padding .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}
.mat-form-field-no-label .mat-form-field-wrapper .mat-form-field-flex {
  padding-top: 0;
  height: 36px;
  align-items: center;
  .mat-form-field-infix {
    border: none;
  }
}

// Paginator size
.mat-form-field.mat-paginator-page-size-select {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-select-arrow-wrapper {
    transform: none;
  }
  .mat-form-field-infix {
    border: none;
  }
}

// Custom class for paginator button number
.app-paginator-button {
  background: none;
  border: 0;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  font-weight: 700;
  color: rgba($text, 0.8);
  cursor: pointer;
  &:disabled {
    background-color: $primary;
    color: white;
    cursor: initial;
  }
}

// Mat Checkbox readonly
.mat-checkbox:read-only {
  pointer-events: none;
  cursor: default;
}

.mat-dialog-title,
.mat-dialog-content,
.mat-dialog-actions {
  margin: 0 !important;
  padding: 16px 24px !important;
}

.mat-dialog-title {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.mat-flat-button {
  background-color: rgba(0, 0, 0, 0.12);
}

.mat-button-wrapper {
  font-weight: 600;
}

// Snackbar Custom css
.mat-snack-bar-container.app-snackbar {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  &.success {
    background-color: $success;
  }
  &.error {
    background-color: $warn;
  }
  &.info {
    color: #000000;
    background-color: $background-color;
  }
}

.primary-color {
  color: $primary !important;
}
.accent-color {
  color: $accent !important;
}
.warn-color {
  color: $warn !important;
}
