@import 'variables';

table {
  width: 100%;
  table-layout: fixed;
  td {
    border: none;
  }
  tr:first-child td {
    border-top: 2px solid #cfdce5;
  }
  tr:nth-child(even) {
    background-color: #f5f8fa;
  }
  tr:hover td {
    background-color: rgba($primary, 0.2);
  }
  th,
  td {
    &:first-child {
      width: 30%;
    }
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 180px;
    }
    &:nth-child(4) {
      width: 150px;
    }
    &:nth-child(5) {
      width: 80px;
    }
    &:last-child {
      width: 40%;
      text-align: right;
    }
  }
}
