<div class="mat-elevation-z1 app-table-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="table-actions">
    <div>
      <mat-form-field color="primary" class="mat-form-field-no-padding mat-form-field-no-label">
        <input matInput name="textSearch" placeholder="Pesquisar por usuário" [formControl]="textSearchControl" />
        <mat-icon *ngIf="!textSearchControl?.value" color="primary" matSuffix>
          search
        </mat-icon>
        <mat-icon class="cursor-pointer" color="warn" *ngIf="textSearchControl?.value" matSuffix (click)="textSearchControl.setValue('')">
          close
        </mat-icon>
      </mat-form-field>
    </div>
    <mat-paginator appCustomPaginator [length]="length" [showTotalPages]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="false">
    </mat-paginator>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><b>Usuário</b></th>
      <td mat-cell *matCellDef="let element">
        {{element.name}} <br />
        @{{element.username}}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef><b>Título</b></th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef><b>Data</b></th>
      <td mat-cell *matCellDef="let element">{{element.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef><b>Valor</b></th>
      <td mat-cell *matCellDef="let element">{{element.value | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="isPayed">
      <th mat-header-cell *matHeaderCellDef><b>Pago</b></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isPayed" readonly color="primary"> </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef><b>Pago</b></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isPayed" readonly color="primary"> </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
