<div class="form animate__animated animate__fadeInLeft">
    <div class="logo">
        <img src="../../../assets/images/logo-pay-friends.svg" alt="Logo PayFriends">
    </div>
    <h1>
        Bem vindo de volta
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="fetchAccount()" novalidate>
        <div class="ipt-item">
            <label>E-mail</label>
            <input type="text" name="email" formControlName="email">
        </div>
        <div class="ipt-item">
            <label>Senha</label>
            <input type="password" name="password" formControlName="password">
        </div>
        <button [disabled]="!loginForm.valid" class="button__default">ENTRAR</button>
    </form>
</div>
