<div class="size bg-gray">
    
    <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="(user | json) != '{}' && verifyRouter.url !== '/login'">
            <div class="toolbar-position">
                <app-toolbar></app-toolbar>
            </div>

            <ng-container *ngIf="loading">
                <mat-progress-bar mode="indeterminate" color=primary class="progress-position"></mat-progress-bar>
            </ng-container>
        </ng-container>
    </ng-container>

    <router-outlet></router-outlet>
</div>


