.size {
<<<<<<< HEAD
    min-height: 100vh;
    margin: 0;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

::ng-deep .mat-progress-bar {
    height: 6px !important;
=======
    height: 100vh;
>>>>>>> be5a8eadca8bd35f557dc345274781a172642520
}