<div class="login-container">
    <div class="login">
        <div class="login__logo-title">
            <img [src]="logoPath" />
            <p>{{'login.welcome-back' | translate }}</p>
        </div>
        <div class="login__fields">
            <div class="login__fields--email">
                <app-email></app-email>
            </div>
            <div class="login__fields--pwd">
                <app-password></app-password>
            </div>
        </div>
        <div class="login__button">
            <button>{{'login.join' | translate}}</button>
        </div>
    </div>

    <span class="image"></span>
</div>