.login-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: column;
    min-height: 100vh;
}

.login {
    background-color: #F2F2F2;
    padding: 30vh 16% 0px 16%;
    &__logo {
        &--welcome-back {
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
        }
    }

    &__button {
        margin-top: 10px;
        > button {
            width: 100%;
            background-color: #007DFE;
            border: 1px solid #007DFE;
            color: #fff;
            font-weight: 600;
            border-radius: 4px;
            padding: 6px;
            display: grid;
            grid-auto-flow: column;
            > p {
                margin: 0 !important;
            }
        }
    }
}

.grid-template {
    grid-template-columns: 80%;
}

.image {
    background: url(../../../assets/svg/background_login.svg) no-repeat center center;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }