<div class="login-container">
    <div class="login">
        <div class="login__logo-title">
            <img [src]="logoPath" />
            <p>{{'login.welcome-back' | translate }}</p>
        </div>
        <div class="login__fields">
            <div class="login__fields--email">
                <app-email (value)="email = $event"></app-email>
            </div>
            <div class="login__fields--pwd">
                <app-password (value)="pwd = $event"></app-password>
            </div>
        </div>
        <div class="login__button">
            <button (click)="onSubmit()" [class.grid-template]="loading">
                <p>{{'login.join' | translate}}</p>
                <span *ngIf="loading" class="spinner"></span>
            </button>
            
        </div>
    </div>

    <span class="image"></span>
</div>