.login-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: column;
    min-height: 100vh;
}

.login {
    background-color: #F2F2F2;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: 44%;
    &__logo-title {
        display: grid;
        gap: 20px;
        > p {
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
        }
    }

    &__fields {
        &--email {

        }

        &--pwd {

        }
    }

    &__button {
        
    }
}

.image {
    background: url(../../../assets/svg/background_login.svg) no-repeat center center;
}