<div class="payments">
    <div class="payments__header">
        <div class="payments__header--image">
            <img src="../../../assets/svg/pay-friends.svg"/>
        </div>
        <div class="payments__header--account">
            <img src="../../../assets/images/user.png"/>
        </div>
    </div>

    <div class="payments__title">
        <p>{{'payments.title' | translate}}</p>
    </div>


    <div class="payments__add">
        <button (click)="add()">{{'payments.add-toUpperCase' | translate}}</button>
    </div>

    <div class="card">
        <div class="card__filter">
            <div class="card__filter--search-input">
                <mat-form-field appearance="legacy">
                    <mat-label>{{'payments.search-by-user' | translate}}</mat-label>
                    <input [(ngModel)]="inputSearch" type="text" matInput placeholder="Placeholder">
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
            </div>
            <div class="card__filter--button-filter">
                <button (click)="getList()">
                    <div>
                        <img src="../../../assets/svg/filter.svg"/>
                        <p>{{'payments.filter-button' | translate}}</p>
                    </div>
                </button>
            </div>
            <div class="card__filter--quantity-items-listed">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>{{'payments.show' | translate}}</mat-label>
                    <input type="number" [(ngModel)]="pageSize" matInput>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>{{'payments.page' | translate}}</mat-label>
                    <input type="number" min="1" [(ngModel)]="page" matInput>
                </mat-form-field>
            </div>
        </div>
        <payment-table (remove)="remove($event)" (edit)="edit($event)" [paymentList]="paymentList"></payment-table>
    </div>
</div>
