.payments {
    display: grid;
    grid-template-rows: 90px 6vh 5vh;
    gap: 50px;
    background-color: #F2F2F2;
    min-height: 100vh;

    &__header {
        background-color: #002D69;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        &--image {
            display: grid;
            align-items: center;
        }
    
        &--account {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            gap: 20px;
            > img {
                cursor: pointer;
            }
        }
    }

    &__title {
        > p {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            margin: 0px 5vw;
        }
    }

    &__add {
        display: flex;
        justify-content: flex-end;
        padding: 0px 40px;
        > button {
            background-color: #007DFE;
            border: 1px solid #007DFE;
            border-radius: 4px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.card {
    background-color: #fff;
    border-radius: 6px;
    margin: 0px 40px 40px;
    padding: 20px 0px;
    display: grid;
    row-gap: 20px;
    &__filter {
        grid-template-columns: 22% 30% 20%;
        margin: 0 24px;
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
        grid-template-rows: 38px;
        
        &--search-input {
            color: #69788C !important;
            ::ng-deep .mat-form-field {
                width: 100% !important;
            }

            .bold {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &--button-filter {
            max-width: 8vw;

            // possivel exclusão
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 83px;
            gap: 20px;

            ::ng-deep .mat-form-field-appearance-fill {
                padding: 0px !important;
                > .mat-form-field-wrapper {
                    height: 58px !important;
                    > .mat-form-field-flex {
                        background: transparent;
                        padding: 0 !important;
                    }
                }
            }
            // --------------
            :active {
                background-color: rgba(0,0,0, .2);
            }
            > button {
                background-color: #E6ECF0;
                border: 1px solid #E6ECF0;
                border-radius: 6px;
                width: 100%;
                height: 40px;
                cursor: pointer;
                > div {
                    p {
                        margin: 0;
                        font-weight: 600;
                    }
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    grid-template-columns: 20%;
                }
            }
        }

        &--quantity-items-listed {
            p {
                margin : 0;
            }

            grid-column-start: 4;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            gap: 50px;

            ::ng-deep .mat-form-field-flex {
                background-color: transparent !important;
                padding: 0 !important;
                width: 54px !important;
            }

            ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 17px !important;
            }
        }
    }
}