<div class="table-wrapper mat-elevation-z3" fxLayout="column">
  <div class="mt-16 px-16" fxLayout fxLayoutAlign="start center">
    <app-search-filter #searchFilter (filtersChanged)="retrieveTasks()"></app-search-filter>
  </div>

  <app-paginator #paginator [length]="tasksLength" (pageChange)="retrieveTasks()"></app-paginator>

  <ng-container *ngIf="isLoadingTasks">
    <div class="my-16" fxLayout fxLayoutAlign="center center">
      <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="50">
      </mat-progress-spinner>
    </div>
  </ng-container>

  <div class="table-container" [style.visibility]="isLoadingTasks ? 'hidden' : 'visible'">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!-- User Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Usuário</th>
        <td mat-cell *matCellDef="let row">
          <div class="user-container" fxLayout="column" fxLayoutAlign="start">
            <span>{{ row.name }}</span>
            <span>&commat;{{ row.username }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear fxHide fxShow.gt-xs>
          Título
        </th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-xs>
          {{ row.title }}
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear fxHide fxShow.gt-sm>
          Data
        </th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
          <div class="date-container" fxLayout="column" fxLayoutAlign="start">
            <span>{{ row.date | date: 'dd/MM/yyyy' }}</span>
            <span>{{ row.date | date: 'h:mm a' }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear fxHide fxShow.gt-sm>
          Valor
        </th>
        <td mat-cell *matCellDef="let row" fxHide fxShow.gt-sm>
          {{ row.value | currency }}
        </td>
      </ng-container>

      <!-- IsPayed Column -->
      <ng-container matColumnDef="isPayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Pago</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="isLoadingTaskUpdate[row.id]; else IsPaidTemplate">
            <mat-progress-spinner
              color="primary"
              mode="indeterminate"
              [diameter]="20"
            ></mat-progress-spinner>
          </ng-container>
          <ng-template #IsPaidTemplate>
            <mat-checkbox
              color="primary"
              [(ngModel)]="row.isPayed"
              (click)="updatePayment(row.id, row.isPayed)"
            ></mat-checkbox>
          </ng-template>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <div class="actions-container" fxLayout fxLayoutAlign="end">
            <button mat-icon-button aria-label="Task edit button">
              <mat-icon>edit</mat-icon>
            </button>
            <ng-container *ngIf="isLoadingTaskDelete[row.id]; else TaskDeleteButtonTemplate">
              <div fxLayout fxLayoutAlign="center center">
                <mat-progress-spinner
                  color="warn"
                  mode="indeterminate"
                  [diameter]="20"
                ></mat-progress-spinner>
              </div>
            </ng-container>
            <ng-template #TaskDeleteButtonTemplate>
              <button
                mat-icon-button
                aria-label="Task remove button"
                (click)="openPaymentDeleteDialog(row.id, row)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
