@import '~src/scss/abstracts/colors';

section {
  position: relative;
  height: calc(100% - 60px);

  @media screen and (max-width: 700px) {
    height: inherit;
  }
}

.table-wrapper {
  width: inherit;
  height: inherit;
}

.mat-table {
  width: 100%;

  .mat-cell {
    padding: 16px;
    padding-left: 0;

    &:first-child {
      padding-left: 24px;
    }
  }

  .mat-column- {
    &name > .user-container,
    &date > .date-container {
      span {
        &:last-child {
          font-size: 12px;
          color: $grey;
        }
      }
    }

    &actions {
      .actions-container {
        button {
          visibility: hidden;

          .mat-icon {
            font-size: 18px;
          }

          &:first-child {
            color: $primary-color;
          }

          &:last-child {
            color: red;
          }
        }
      }
    }
  }

  .mat-row {
    &:nth-child(2n) {
      background: lighten($color: $accent-color, $amount: 77);
    }

    &:hover {
      .actions-container {
        button {
          visibility: visible;
        }
      }
    }
  }
}

.table-container {
  height: 100%;
  max-width: 100%;
  overflow: auto;

  @media screen and (max-width: 700px) {
    overflow: unset;
  }
}
