.container-fluid {
    background-color: #E5E5E5;
}

h1 {
    width: 376px;
    height: 60px;
    left: 48px;
    top: 155px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #333333;
}

.pic-my-payments {
    background-color: #ffffff;
}