<mat-sidenav-container>

    <mat-sidenav-content>

        <mat-toolbar class="m-navbar">
            <a-logo [title]="title" [subtitle]="subtitle" [isLoginPage]="false"></a-logo>
            <span class="m-navbar-spacer"></span>
            <img [src]="user.image" class="profile-image">
            <button mat-icon-button class="btn-logout" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>

    </mat-sidenav-content>
</mat-sidenav-container>