* {
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(assets/font/Montserrat/Montserrat-Thin.ttf) format("opentype");
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
