$default-white: #ffffff;
$default-black: #000000;
$primary-gray: #333333;
$secondary-gray: #F2F2F2;
$tertiary-gray: #F5F5F5;
$quartenary-gray: #CFDCE5;
$quinary-gray: #69788C;

$primary-blue: #007DFE;
$secondary-blue: #025ebb;
$primary-red: #ff0000;