<form class="email">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>{{'input.email' | translate}}</mat-label>
    <input (ngModelChange)="onTyping()" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      {{'input.set-valid-email' | translate}}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{'input.email-is' | translate}} <strong>{{'common.required' | translate}}</strong>
    </mat-error>
  </mat-form-field>
</form>