<div class="m-5">
    <app-btn-back></app-btn-back>
    <div class="text-vertical-center-80">
        <div class="container-fluid">
            <h1 class="text-center">
                <span class="font-size-30 font-lato color-light-blue">
                    404
                </span>
            </h1>
            <h1 class="text-center">
                <span class="font-lato">
                    Desculpe, a página que você procura não foi encontrada. Qual o problema?
                </span>
            </h1>
            <h4 class="text-center mt-4">
                <span class="font-lato">
                    Verifique se você digitou corretamente o endereço desejado.
                </span>
            </h4>
            <mat-divider></mat-divider>
            <h4 class="text-center mt-4">
                <span class="font-lato">
                    O conteúdo pode ter sido removido ou não estar mais disponível.
                </span>
            </h4>
            <mat-divider></mat-divider>
            <h4 class="text-center mt-4">
                <span class="font-lato">
                    O servidor pode estar fora do ar no momento.
                </span>
            </h4>
        </div>
    </div>
</div>