<header>
    <div class="logo">
        <img src="../../../assets/images/logo-pay-friends-inverse.svg" alt="">
    </div>
    <div class="user__info">
        <div class="avatar">
            <figure></figure>
        </div>
        <div class="logout">
            <div class="box-info">
                <ul>
                    <li>
                        <span class="icon">
                            <img src="../../../assets/images/icons/logout.svg" alt=""  [ngStyle]="{'width': '10px'}">
                        </span>
                        Sair
                    </li>
                </ul>
            </div>
            <div class="button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<p>dashboard footer!</p>