@import '../../../assets/styles/colors';

.container{
    max-width: 1440px;
    padding: 0 16px;
    margin: 75px auto 0;
}
h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font: 600 36px/44px 'Montserrat', sans-serif;
    color: $primary-gray;
}

@media(max-width: 767px){
    .container{
        margin-top: 0;
    }
}