.pagination {
  min-width: 130px;
}

.pagination a {
  color: black;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 3%;
  }
  
  .pagination a.active {
    background-color: var(--light-blue);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }